@charset "utf-8";


/*animation1のキーフレーム設定（開閉ブロックのアニメーションに使用）
---------------------------------------------------------------------------*/
@keyframes animation1 {
	0% {left: -200px;}
	100% {left: 0px;}
}


/*opa1のキーフレーム設定（汎用的）
---------------------------------------------------------------------------*/
@keyframes opa1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


/*up1のキーフレーム設定（ヘッダーのメニューのアイコンアニメーションに使用）
---------------------------------------------------------------------------*/
@keyframes up1 {
	0% {}
	20% {transform: translateY(-2px);}
	50% {transform: translateY(7px);}
	70% {transform: translateY(-2px);}
	100% {transform: translateY(0px);}
}
